/*
 * Empty Stylesheet file.
 */

.win {
    /* Add any common styles for the WinPane here */
}

.hover-button {
    -fx-background-color: d7049e;
}

.hover-button:hover {
    -fx-background-color: lightcoral;
}

.button{
    
    -fx-background-color:
        linear-gradient(#C08ADD, #8C3E9A),
        linear-gradient(#BE78D2, #A95ACF),
        linear-gradient(#BD75D1, #A354BD),
        linear-gradient(#BD72D1 0%, #A95ACF 50%, #9C49B7 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-background-size:100% 100%;
    -fx-text-fill: white;
     -fx-font-weight: bold;
     -fx-font-size: 20;
    -fx-content-display: center;
    -fx-background-radius: 30;
}
