/*
 * Empty Stylesheet file.
 */

#player1{
    -fx-background-radius: 15 ;
    -fx-background-color :  #48D2FE;
 }
 #draw{
      -fx-background-radius: 15 ;
    -fx-background-color :   BCDBF9;
 }
 *#player2{
    -fx-background-radius: 15 ;
    -fx-background-color :   #3E4D8C;
 }
 #labelPlayer1{
     -fx-text-fill :   BCDBF9;
     -fx-font-weight: bold;
 }
 
 #labelPlayer2{
     -fx-text-fill :   D7049E;
     -fx-font-weight: bold;
 }
 
 #newGame{
       -fx-background-color: BCDBF9; 
       -fx-background-radius: 26;
       -fx-text-fill :   D7049E;
     -fx-font-weight: bold;
 }
 
 #newGame:hover{
      -fx-background-color: D7049E; 
       -fx-background-radius: 26;
       -fx-text-fill :   BCDBF9;
     -fx-font-weight: bold;
 }
 
 #menu{
       -fx-background-color: BCDBF9; 
       -fx-background-radius: 26;
       -fx-text-fill :   D7049E;
     -fx-font-weight: bold;
 }
 
 #menu:hover{
      -fx-background-color: D7049E; 
       -fx-background-radius: 26;
       -fx-text-fill :   BCDBF9;
     -fx-font-weight: bold;
 }