/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 28, 2023, 11:15:02 PM
    Author     : ak882
*/

.score1{
    -fx-background-color: #48D2FE;
    -fx-background-radius: 15;
}
.draw{
    -fx-background-color: BCDBF9;
    -fx-background-radius: 15;
}
.score2{
    -fx-background-color: #3E4D8C;
    -fx-background-radius: 15;
}
.buttons{
    -fx-background-color: C5A0D7;
    -fx-background-radius: 15;
}
.board{
        -fx-font-family:"Comic Sans MS";
}
.x{
    -fx-background-color: C5A0D7;
    -fx-background-radius: 15;
    -fx-font-size: 50;
    -fx-font-weight:bold;
    -fx-text-fill: #3E4D8C;
    
}
.o{
    -fx-background-color: C5A0D7;
    -fx-background-radius: 15;
    -fx-font-size: 50;
    -fx-font-weight:bold;
    -fx-text-fill: #FF3B8B;
}

