.button{
    -fx-background-color: #72CFF9; 
    -fx-background-radius: 26;
}

.button:hover{
     -fx-background-color: D7049E; 
    -fx-background-radius: 26;
}

.text{
    -fx-fill:#5a1e76;
}
.text:hover { 
    -fx-fill: F4F6F5;   
}
